body{
color:#1864ab;
background-color:#f1f3f5;
font-size:40px;

}
.navbar{
margin-bottom:1%;
}


.content{
padding:2%;
margin:5%;

}



.footer {
  position: fixed;
  height:10%;
  top:95%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}