 {% extends "base.html"%}
 {% block content%}
<h1>Quote</h1>
<div class="row">
    <div class="col-6">
        <form action="" method="post">
            <div class="form-group">

                <input type="text" name="quote" class="form-control" placeholder="Enter company name">

            </div>

            <button type="submit" class="btn btn-dark">Quote</button>
        </form>

        <div>
            <br>
            <br> {% if quote %}
            <h3> Price is $ {{ quote }}</h3> {%endif %}
        </div>

    </div>
    <div class="col-6">
        <img src="/static/quote.png" alt="" width="600" height="450">
    </div>
</div>

{% endblock%}