{% extends "base.html"%}
{% block content%}

<div class="row">

    <div class="col-6">
        <img src="/static/sell.png" alt="" height="450">
    </div>
    <div class="col-6">
        <h1>Sell</h1>
        <form action="" method="post">
            <div class="form-group">

                <input type="text" name="symbol" class="form-control" placeholder="Enter symbol">

            </div>
            <div class="form-group">
                <input type="number" name="shares" min="1" class="form-control" placeholder="shares">
            </div>

            <button type="submit" class="btn btn-dark text-center">Sell</button>
        </form>
    </div>

</div>
{% endblock%}